<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body>
<p><span th:text="${anrede}">Liebe</span> <span th:text="${anredename}">Max</span>, </p>
<p>laut Beschluss der Mitgliederversammlung des Seelenbohrer e.V. 2006 senden wir <span th:text="${dirEuch}">Dir</span> 
die Rechnung zur Mitgliedschaft für das Kalenderjahr 2017 (<b><span th:text="${betrag}">XX</span>  Euro</b>) zu. </p>
 <p><span th:text="${zusatz}"></span></p>

<p>Bitte überweise den Betrag von <b><span th:text="${summe}">XX</span>  Euro</b> bis zum 10. Februar 2017 auf folgendes Konto:</p>

<p>Sparda Bank Südwest eG<br/>	
IBAN: 	DE36 5509 0500 0005 1448 17<br/>	
BIC: 	GENODEF1S01</p>	

<p>Beträge, die über den oben genannten Mitgliedsbeitrag hinausgehen, sind willkommen. 
Ab einer Spende von 5 Euro senden Dir eine Spendenbescheinigung zu. </p>	
	
<p>Die Mitgliederversammlung 2017 findet am <b>8. April 2017</b> im Haus Wasserburg in Vallendar statt. Die Einladung dazu kommt in den nächsten Wochen.</p>

<p>Herzliche Grüße</p>
<p></p>
<p>Jörg Brandstätt</p>
</body>
</html>